.preview {
  display: flex;
  align-items: center;
}

.previewReverse {
  flex-direction: row-reverse;
}

.contentContainer {
  padding: 5rem;
}

.content, .heroImage {
  height: 50vw;
  max-height: 80vh;
  flex: 1;
}